Package: com.tr1fecta.nocallblur
Name: NoCallBlur
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: A tweak to remove the blur from the call background.
Maintainer: Tr1Fecta
Author: Tr1Fecta
Section: Tweaks
